---
import MainLayout from '../components/layout/MainLayout.astro';
import ConversionForm from '../components/ConversionForm.astro';
import JobDashboard from '../components/JobDashboard.astro';
---

<MainLayout title="CSFrace Scrape - WordPress to Shopify Converter">
  <section class="text-center py-16">
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 grid-rows-auto lg:grid-rows-1">
      <ConversionForm />
      <JobDashboard />
    </div>
  </section>
</MainLayout>
