---
import MainLayout from '../components/layout/MainLayout.astro';
import ConversionForm from '../components/ConversionForm.astro';
import JobDashboard from '../components/JobDashboard.astro';
---

<MainLayout title="CSFrace Scrape - WordPress to Shopify Converter">
  <section class="text-center py-16">
    <div class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-8 lg:gap-12 lg:items-start">
      <div>
        <ConversionForm />
      </div>
      <div class="lg:sticky lg:top-8 lg:h-[calc(100vh-8rem)]">
        <JobDashboard />
      </div>
    </div>
  </section>
</MainLayout>
